{% set projects = page.collection() %}

{% if projects %}
  {% for project in projects %}
    <div class="item">
      <h3 class="title">
        <a href="{{ project.header.link.url | default('#') }}">{{ project.title }}</a>
        {% if project.header.ribbon %}<span class="label label-theme">{{ project.header.ribbon }}</span>{% endif %}
      </h3>
      <p class="summary">{{ project.summary | striptags }}</p>

      {% if project.header.link %}
        <p><a class="more-link" href="{{ project.header.link.url }}"><i class="fa fa-external-link"></i> {{ project.header.link.title }}</a></p>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <h2>No Projects Found.</h2>
{% endif %}
